body { 
  background-color: white;
}

ul {
  list-style-type: none;
}

.jumbotron {
  background-color: #ff9900; /* Orange */
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 100px;
}

.container-fluid {
  padding: 60px 50px;
}

.navbar {
  margin-bottom: 0;
  background-color: #ff9900;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 10px 0px 10px;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.nav-logo {
  font-family: "Franklin Gothic Medium";
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: -100px;
}

.navbar-left>ul>li>a:hover {
  color: green;
}

.nav-button {
  border: solid 3px #DB8403;
  margin-right: -80px;
}

.navbar-nav>li>a {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  font-weight: 700;
}

.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.header-title {
  margin-top: 0;
  padding-top: 60px;
  font-weight: 200;
  letter-spacing: 2px;
}

.btn-home {
  width: 35%;
  height: 45px;
  font-size: 23px;
  font-family: "Franklin Gothic Medium";
  color: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 0;
}

.btn-home:hover {
  background-color: #ff9900;
  color: #fff;
}

.about-containter {
  font-family: "Franklin Gothic Medium";
  color: #424242;
  margin-top: 100px;
} 

.about-containter p {
  font-size: 18px;
}

.upload-container {
  display: block;
  font-family: "Franklin Gothic Medium";
  color: #424242;
  width: 575px;
  margin: 0 auto;
  margin-top: 80px;
}

.upload-container ul {
  padding-left: 0;
}

.upload-container li {
  padding: 15px 0px;
}

.upload-container label {
  font-size: 22px;
  width: 90px;
}

.upload-container h1 {
  font-family: "Arial Black";
}

.upload-cst-padding {
  padding-left: 0;
  padding-right: 0;
}

.upload-logo {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  z-index: 1;
}

.upload-input {
  height: 35px;
  border: solid 2px #BCBCBC;
  border-radius: 4px;
  font-family: "Franklin Gothic Medium";
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

.test-padding {
  padding-top:80px !important;
}

.upload-input-big {
  width: 480px;
}

.upload-edition {
  width: 75px;
}

.upload-isbn {
  width: 240px;
}

.upload-button {
  width: 48%;
}

.upload-button-cancel {
  margin-right: 11px;
  background-color: #FFF;
  border: 2px solid #d9534f;
  border-radius: 0;
  color: #d9534f;
  font-size: 17px;
}

.upload-button-cancel:hover {
  background-color: #d9534f;
  color: #fff;
}

.upload-button-success {
  background-color: #FFF;
  border: 2px solid #5cb85c;
  border-radius: 0;
  color: #5cb85c;
  font-size: 17px;
}

.upload-button-success:hover {
  background-color: #5cb85c;
  color: #fff;
}

.upload-button-block {
  margin-top: 70px;
}

.filename-text {
  font-weight: 100;
}

.filename { 
  margin-top: 8px;
  margin-left: -46px;
}

.search-box {
    margin-top: 40px;
    width: 555px;
    height: 40px;
    border: solid 2px #BCBCBC;
    border-radius: 4px;
    font-family: "Franklin Gothic Medium";
    font-size: 17px;
    padding-left: 15px;
    color: #424242;
}

.search-button {
    margin-left: -45px;
    font-size: 20px;
    background: none;
    border: none;
    color: #BCBCBC;
    top: 4px;
}

.about-left {
  margin-left: 15%;
}

.about-right {
  float: right;
  right: 15%;
}

.left-panel {
  left:0;
  height: 100%;
  width: 20%;
  top: 0px;
}

.left-block {
  position: absolute;
  z-index: -1;
  background-color: #ff9900;
}

.search-result-box {
  padding-top: 65px;
}

.search-title {
  font-size: 20px;
  padding-top: 10px;
}
.textbook-box {
  height: 360px;
}

.caption {
  height: 120px;
  max-height: 120px;
}

.thumbnail {
  padding-bottom: 35px;
  border: none;
}

.btn-view {
  width: 90%;
  margin: auto;
  border-radius: 0;
  border: 2px solid #ff9900;
  color: #ff9900;
  font-family: "Franklin Gothic Medium";
  font-size: 18px;
}

.btn-view:hover {
  background-color: #ffad32;
  border: #ffad32;
  color: #ffffff;
}

.search-buttons {
  margin-bottom: 80px;
}

.direction-button {
  width: 100px;
  height: 28px;
  background-color: #bcbcbc;
  color: white;
  font-family: "Franklin Gothic Medium";
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
}

.direction-button:hover {
  background-color: #969696;
}

.direction-numbers {
  font-family: "Helvetica";
  font-size: 17px;
  font-weight: 100;
}

.detail-container {
  margin-top: 60px;
  font-family: "Franklin Gothic Medium";
  color: #424242;
}

.detail-container li {
  margin-bottom: 35px;
}

.detail-container label {
  display: block;
  font-size: 28px;
  width: 90px;
}

.detail-text {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 100;
}

.btn-download-detail {
  width: 100%;
  height: 50px;
  border: 2px solid #5CB85C;
  border-radius: 0;
  color: #5CB85C;
  font-size: 25px;
}

.btn-download-detail:hover {
  color: #FFFFFF;
  background-color: #5CB85C;
}

.breadcrumb-container {
  margin-bottom:20px; 
}

.breadcrumb {
  color: #bcbcbc;
  background-color: #ffffff;
  font-size: 17px;
  padding: 0;
}

.breadcrumb:hover {
  text-decoration: none;
  color: #707070;
}

