<div class="container col-lg-12">
  <div class="col-lg-4"></div>
  <div class="col-lg-8 upload-container">
    <h1>UPLOAD</h1>
    <ul>
      <li>
        <label>Title</label>
        <input class="upload-input"></input>
      </li>
      <li>
        <label>Author</label>
        <input class="upload-input"></input>
      </li>
      <div class="col-lg-4 upload-cst-padding">
        <li>
          <label>Edition</label>
          <input class="upload-input"></input>
        </li>
      </div>
      <div class="col-lg-8 upload-cst-padding">
        <li>
          <label>ISBN</label>
          <input class="upload-input"></input>
        </li>
      </div>
    </ul>

  </div>