<div class="text-center">
    <input class="search-box" placeholder="What textbook are you looking for?" ng-model="searchText"></input>
    
    <button class="search-button glyphicon glyphicon-search" type="button"></button>
  </div>

<div class="container search-result-box">
<div ng-repeat="textbook in textbooks | filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize">
    <div class="col-md-4 col-xs-6  col-sm-offset-0 textbook-box">            
    <div class="thumbnail">
      <img ng-src="{{textbook.cover.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
      <div class="caption text-center">
        <label class="search-title">{{textbook.title}}</label>
        <p><label>Authors </label> {{textbook.author}}</p>
      </div>
      <div class="text-right"><a ng-href="/#/detail/{{textbook._id}}" class="btn btn-default btn-view center-block" role="button">View</a> </div>
    </div>
    </div>
</div>
</div>

<div class="search-buttons text-center">
  <button class="direction-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
    <span class="direction-numbers"> {{currentPage+1}}/{{numberofPages()}} </span>
  <button class="direction-button" ng-disabled="currentPage >= textbooks.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>  
</div>