<div class="container col-lg-12">
  <div class="text-center">
    <input class="search-box" placeholder="What textbook are you looking for?"></input>
    
    <button class="search-button glyphicon glyphicon-search"></button>
  </div>

  <div class="row about-containter">
    <div class="about-left col-lg-4">
      <h2>WHAT WE'RE ALL ABOUT</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed aliquam mauris id mattis rutrum. Aliquam euismod 
        metus vitae mauris aliquam, sit amet accumsan metus 
        rhoncus. Pellentesque elementum non enim non tincidunt. 
        Morbi et sagittis nibh.</p>
    </div>
    <div class="about-right col-lg-4">
      <h2>OUR PROMISE</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Sed aliquam mauris id mattis rutrum. </p>
    </div>
  </div>
</div>